<TabView androidTabsPosition="bottom">
  <GridLayout *tabItem="{ title: 'Browse' }">
    <page-router-outlet name="homeTab"></page-router-outlet>
  </GridLayout>

  <GridLayout *tabItem="{ title: 'Search' }">
    <page-router-outlet name="searchTab"></page-router-outlet>
  </GridLayout>
</TabView>
