<StackLayout>
    <Button class="btn btn-outline" text="Close Modal" (tap)="close()"></Button>
    <ListView [items]="types" (itemTap)="onItemTap($event)" class="list-group">
        <ng-template let-item="item">
          <GridLayout>
            <label [text]="item" class="list-group-item"></label>
          </GridLayout>
        </ng-template>
      </ListView>
</StackLayout>