<ActionBar>
  <Label text="Search"></Label>
</ActionBar>

<GridLayout class="page__content" rows="auto, *">
    <SearchBar row="0" hint="Search..." [text]="searchString" (textChange)="onTextChanged($event)" (clear)="onClear($event)"></SearchBar>
    <ListView row="1" [items]="items">
        <ng-template let-item="item">
            <StackLayout>
                <Label [text]="item.name"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
</GridLayout>
