<ActionBar>
    <Label text="Browse SWAPI"></Label>
    <ActionItem ios.position="right" position="right" icon="font://&#xf0b0;" class="fas" (tap)="showModal()"></ActionItem>
</ActionBar>

<GridLayout>
    <ListView [items]="items">
        <ng-template let-item="item">
            <StackLayout (tap)="nav()">
                <Label [text]="item.name"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
</GridLayout>